* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #14c871;
  cursor: pointer;
}

a:hover {
  color: #206bfb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

