<app-nav-bar></app-nav-bar>

<section class="container" id="home">
  <div class="row">
    <div class="col-md-6 pt-5 pt-md-0 order-2 order-md-1 d-flex flex-column justify-content-center">
      <h1>CACMA: Computational Analysis and Creation of Music and Arts</h1>
      <h2>Grupo de investigación del <a href="http://www.iseacv.gva.es/es">ISEA.CV</a></h2>
      <div>
        <a routerLink="/grecoh/home" class="btnExperimentoActivo">Experimento activo: GreCoH</a>
      </div>
    </div>
    <div id="home-img" class="col-md-6 order-1 order-md-2">
      <img src="assets/img/munsell_colores_notas.jpg" class="img-fluid animated" alt="Munsell notas">
    </div>
  </div>
</section>

<section id="experimentos" class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="icon-box">
        <div class="icon"><i class="icofont-image"></i></div>
        <h4 class="title"><a routerLink="grecoh/home" >GreCoH</a></h4>
        <p class="description">Experimento actualmente activo sobre armonía de color</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
      <div class="icon-box">
        <div class="icon"><i class="icofont-paint-brush"></i></div>
        <h4 class="title"><a href="">Logos</a></h4>
        <p class="description">Generación automática de colores equilibrados en imágenes (<em>no disponible</em>) </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
      <div class="icon-box">
        <div class="icon"><i class="icofont-golden-ratio"></i></div>
        <h4 class="title"><a href="http://easda.es/investigacion/pesovisual" target="_blank">Pesos visuales</a></h4>
        <p class="description">Experimentos pasados realizados sobre equilibrios y pesos visuales</p>
      </div>
    </div>
  </div>

</section>

<section id="acercade" class="container">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <img src="assets/img/ha.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 pt-4 pt-md-0 contenido">
      <h3>¿Quiénes somos?</h3>
      <p class="font-italic">
        El grupo interdisciplinar de investigación lo componemos profesores de la Escuela de Arte y Superior de Diseño de Alicante (<a href="http://www.easda.es">easda</a>) y del Conservatorio Superior de Música Óscar Esplá de Alicante (<a href="http://csmalicante.com">CSMA</a>), ambos inscritos en el Instituto Superior de Enseñanzas Artísticas de la Comunidad Valenciana (<a href="http://www.iseacv.es">ISEA.CV</a>)
      </p>
      <ul>
        <li><i class="icofont-music"></i> Manuel Mas Devesa (CSMA)</li>
        <li><i class="icofont-paint"></i> Mario Rodríguez Ruiz (easda)</li>
        <li><i class="icofont-computer"></i> David Rizo Valero (easda)</li>
      </ul>
    </div>
  </div>

</section>

<app-footer></app-footer>

