#home {
  background: #fff;
  padding-top: 10vmax;
}

#experimentos {
  margin-top: 50px;
}

#experimentos .icon-box {
  padding: 20px;
  color: #5f687b;
  background: #f9f9fa;
  border-radius: 4px;
  border: 1px solid #f9f9fa;
  transition: 0.3s;
}

#experimentos .icon {
  margin: 0 0 15px 0;
}

#experimentos .icon i {
  color: #16df7e;
  font-size: 36px;
}

#experimentos .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
}

#experimentos .title a {
  color: #5f687b;
  transition: 0.3s;
}

#experimentos .icon-box:hover {
  border-color: #eaecef;
}

#experimentos .icon-box:hover .title a {
  color: #16df7e;
}

#experimentos .description {
  line-height: 24px;
  font-size: 14px;
}

#about {
  padding-top: 50px;
}

#about .contenido {
}
#about .contenido h3 {
  font-weight: 700;
  font-size: 32px;
  color: #5f687b;
}

#about .contenido ul {
  list-style: none;
  padding: 0;
}

#about .contenido ul li {
  padding-bottom: 10px;
}

#about .contenido ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #16df7e;
}

#about .contenido p:last-child {
  margin-bottom: 0;
}

