<app-nav-bar></app-nav-bar>
<section id="grecoh" class="container">
  <div class="row d-flex align-items-center align-content-center">
    <div class="col-md-8 pt-5 pt-md-0 order-2 order-md-1 d-flex flex-column justify-content-center">
      <h1>GreCoH</h1>
      <h2>Experimento sobre armonía de color</h2>
      <p>A lo largo de la historia, diseñadoras, diseñadores y artistas han ordenado los elementos del espacio gráfico partiendo de estructuras “ocultas”, con el fin de que resulten sólidas y equilibradas. Llamamos a este proceso “Composición”.</p>
      <p>Para llevar a cabo la composición del espacio gráfico, podemos jugar con diferentes factores, y en este caso te proponemos jugar con el color. En cada obra verás que hay un objeto con diferentes opciones cromáticas que tendrás que valorar.</p>
      <p>En cada caso podrás comprobar al final la valoración que has concedido a las composiciones originales, las coincidencias con otros usuarios. Además podrás escribir las conclusiones que hayas obtenido y compartirlas con otros usuarios.
      <p><em>Haz login usando tu cuenta de Google o de Facebook</em></p>
      <div>
        <a routerLink="../paintings" class="btnPrincipal">Inicia el experimento</a>
      </div>
    </div>
    <div class="col-md-4 order-1 order-md-2">
      <img src="assets/img/grecoh/greco.jpg" alt="GreCoH" class="img-fluid animated">
    </div>
  </div>
</section>

<app-footer></app-footer>
