<!--<h1 i18n="@@grecohIntroductionHeader">
  Bienvenidos a GrecoH...
</h1>

<nav>
  <ul>
    <li><a routerLink="../home">GrecoH</a></li>
    <li><a routerLink="../paintings">Start - paintings</a></li>
    <li><a routerLink="../admin">Admin</a></li>
  </ul>
</nav>-->

<div class="container">
  <header class="jumbotron">
    <h1>Experimento sobre armonía de color</h1>
    <p>A lo largo de la historia, diseñadoras, diseñadores y artistas han ordenado los elementos del espacio gráfico partiendo de estructuras “ocultas”, con el fin de que resulten sólidas y equilibradas.
      Llamamos a este proceso “Composición”.</p>
    <p>Para llevar a cabo la composición del espacio gráfico, podemos jugar con diferentes factores, y en este caso te proponemos jugar con el color. En cada obra verás que hay un objeto con diferentes opciones cromáticas. Valora de 1 a 5 cada opción, en función de si te resulta poco equilibrada (1 punto) o muy equilibrada (5 puntos). </p>
    <p>En cada caso podrás comprobar al final la valoración que has concedido a las composiciones originales, las coincidencias con otros usuarios. Además podrás escribir las conclusiones que hayas obtenido y compartirlas con otros usuarios.
    <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="../paintings">Iniciar experimento</button>
  </header>
</div>

