#painting * {
  background-color: transparent;
}

#painting {
  color: white;
  background-color: #282828;
  height: 100vh;
}

#painting > div {
  background-color: black;
}

#painting header {
  height: 100%;
  padding: 10px;
}


@media (max-width: 991px) {
  #painting h1 {
    margin: 0;
    font-size: 14px;
  }

  #painting h2 {
    margin: 0.2rem;
    font-size: 12px;
  }

  #painting h3 {
    margin: 0.2rem;
    font-size: 10px;
  }
}
