#painting * {
  background-color: transparent;
}

#painting {
  color: white;
  background-color: #282828;
}

#painting > div {
  background-color: black;
}

#painting header {
  max-height: 10vh;
  padding: 10px;
}

#painting main {
  max-height: 90vh;
}

#painting #tabsOpciones {

}

#painting h2, h3 {
  margin: 1rem;
}
#painting #close {
  font-size: 14px;
}

@media (min-width: 768px) {
  #painting #close {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  #painting h2 {
    margin: 0.2rem;
    font-size: 12px;
  }

  #painting h3 {
    margin: 0.2rem;
    font-size: 10px;
    line-height: 8px;
  }
}
