<div id="painting" class="d-flex align-items-center" *ngIf="painting$ | async as painting; else loading">
  <div class="container">
    <header class="row" class="d-flex align-items-start">
      <div class="col-8 offset-1 pl-0">
        <!--<h2>{{painting.title}}</h2>
        <h3>{{painting.painter}}</h3>-->
        <p class="texts">Valora todas las composiciones</p>
      </div>
      <div class="col-2" id="close">
        <p><a routerLink="/grecoh/paintings"><span id="cierra">Cierra</span><i class="icofont-close"></i></a></p>
      </div>
    </header>

    <main class="row">
      <section class="col-10 col-sm-10 offset-sm-1">
        <ul id="tabsOpciones" ngbNav [(activeId)]="activePaintingVersionId" #nav="ngbNav" class="nav-tabs d-flex align-items-center">
          <!--<li class="texto nav-link">Composiciones</li>-->
          <li [ngbNavItem]="score.painting_version_id" *ngFor="let score of scores; trackBy: trackByPaintingVersionFn; let index = index;">
            <ng-template ngbNavContent>
              <div class="imgOpcion">
                <img [src]="getVersionImage(score.paintingVersion)" alt="Colored painting">
                <!--<p>{{score.paintingVersion.id}}</p>-->
              </div>
            </ng-template>
            <a class="paintingVersionButton" ngbNavLink [style]="{'border-bottom-color': '#' + score.paintingVersion.color_hexa}">
              {{index + 1}}º
            </a>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </section>

      <div class="col-1 botonesPainting">
        <!--<div class="icon" class="btnComment" ngbTooltip="Pulsa para escribir un comentario sobre la valoración"><a (click)="showComments(modalComments)"><i class="icofont-comment"></i></a></div>-->
        <ngb-rating class="opcionesRating"
                    [max]="5"
                    [rate]="getRate()"
                    (rateChange)="onRateChange($event)"
        >
        </ngb-rating>
        <div>
          <p class="texts">¿Cuántas estrellas le das a esta composición?</p>
          <div *ngIf="!getRate()" class="icon" class="pendingRate"><a><i class="icofont-exclamation-tringle" ngbTooltip="Valora con al menos una estrella"></i></a></div>
        </div>
      </div>
    </main>
  </div>
</div>

<ng-template #loading>
  <div class="jumbotron">
    Cargando ...
  </div>
</ng-template>


<div id="versionesEnviar" *ngIf="isAllScoresAnswered()">
  <button class="btn-primary" (click)="sendScores()">Envía valoración</button>
  <div class="icon"><a (click)="sendScores()"><i class="icofont-send-mail"></i></a></div>
</div>

<ng-template #modalComments let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Comenta tu valoración de la composición</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <textarea id="comentario" class="form-control" name="comentario" cols="40" rows="4" [(ngModel)]='comentariosVersionSeleccionada'></textarea>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guarda</button>
  </div>
</ng-template>
