<main class="d-flex" id="painting" *ngIf="painting$ | async as painting; else loading">
    <div class="container align-self-center">
      <header class="row">
        <div class="col-8 col-md-8 offset-1 pl-0">
          <h2>{{painting.title}}</h2>
          <h3>{{painting.painter}}</h3>
        </div>
        <div class="col-2" id="close">
          <h1>GreCoH</h1>
          <div class="icon"><a routerLink="/grecoh/paintings"><i class="icofont-close"></i></a></div>
        </div>
      </header>
      <main class="row">
        <section class="col-9 col-md-10 offset-1">
          <ul id="tabsOpciones" ngbNav [(activeId)]="activePaintingVersionId" #nav="ngbNav" class="nav-tabs">
            <li [ngbNavItem]="score.painting_version_id" *ngFor="let score of scores; trackBy: trackByPaintingVersionFn; let index = index;">
              <ng-template ngbNavContent>
                <div class="imgOpcion">
                  <img [src]="getVersionImage(score.paintingVersion)" alt="Colored painting">
                </div>
              </ng-template>
              <a class="paintingVersionButton" ngbNavLink [style]="{'border-bottom-color': '#' + score.paintingVersion.color_hexa}">
                {{score.paintingVersion.color_hexa}}
              </a>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </section>
        <div class="col-1" class="botonesPainting">
          <ngb-rating class="opcionesRating"
                      [max]="5"
                      [rate]="getRate()"
                      (rateChange)="onRateChange($event)"
          >
          </ngb-rating>
          <div class="icon" class="btnComment"><a (click)="showComments(modalComments)"><i class="icofont-comment"></i></a></div>
        </div>
      </main>

    </div>
</main>


<ng-template #loading>
  <div class="jumbotron">
    Cargando ...
  </div>
</ng-template>

<div id="versionesEnviar" *ngIf="isAllScoresAnswered()">
  <button class="btn-primary" (click)="sendScores()">Envía valoración</button>
  <!--<div class="icon"><a (click)="sendScores()"><i class="icofont-send-mail"></i></a></div>-->
</div>

<ng-template #modalComments let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Comenta tu valoración de la composición</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <textarea id="comentario" class="form-control" name="comentario" cols="40" rows="4" [(ngModel)]='comentariosVersionSeleccionada'></textarea>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guarda</button>
  </div>
</ng-template>
