<app-nav-bar></app-nav-bar>

<section id="paintings" class="container">
      <div *ngIf="isLevelsCompleted$ | async; else titleLevelNotEmpty" class="row">
        <div class="section-title col">
          <span>GreCoH</span>
          <h2 id="allLevelsCompleted">Has completado todos los niveles</h2>
          <h3>¡Muchas gracias!</h3>

          <p class="text-left" *ngIf="currentExperiment" [innerHTML]="currentExperiment.final_comment"></p>
          <hr>
          <p><a (click)="firstLevel()">Volver al primer nivel</a></p>
        </div>
      </div>

      <ng-template #titleLevelNotEmpty>
        <div class="section-title row">
          <div class="col">
            <span>GreCoH</span>
            <h2 *ngIf="currentLevel">GreCoH - {{currentLevel.ordering}}º nivel</h2>
            <p><strong>Selecciona una de las siguientes obras del nivel {{currentLevel.ordering}}º</strong></p>

            <div id="collaborator">
              <p>Indica si estás realizando la actividad con algún/a colaborador/a:
              <select [(ngModel)]="selectedCollaboratorID" (ngModelChange)="onCollaboratorChanged($event)">
                <option *ngFor="let collaborator of collaborators"
                        [ngValue]="collaborator.id">{{collaborator.name}}</option>
              </select>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="images" *ngIf="paintings$ | async; else loading">
              <div *ngFor="let painting of paintings$ | async; trackBy: trackByPainting">
                <div class="image">
                  <i *ngIf="painting.scored" class="paintingDone icofont-ui-check"></i>
                  <img [src]="getGrayscaleImage(painting)" alt="Grayscale image of {{painting.title}}"/>
                  <div class="image-info">
                    <h4>{{painting.painter}}</h4>
                    <p>{{painting.title}}</p>
                    <p *ngIf="!painting.scored"><a [routerLink]="['../painting',painting.id]" class="details-link">Comienza</a></p>
                    <p *ngIf="painting.scored"><a [routerLink]="['../../statistics',painting.id]" class="details-link">Resultados</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <ng-template #loading>
        <div class="jumbotron">
          Cargando datos del servidor ...
        </div>
      </ng-template>

      <div class="row">
        <div id="cambioNivel" class="col" *ngIf="allLevelPaintingsScored$ | async">
          <hr>
          <h2>Nivel completado</h2>
          <form *ngIf="questionsAnswers" [formGroup]="formQuestionsAnswers" (ngSubmit)="sendAnswers()">
            <div formArrayName="questionsControls">
              <div *ngFor="let question of questionsControls.controls; index as i">
                <h3>{{questionsAnswers[i].question}}</h3>
                <textarea required="true" [formControlName]="i" placeholder="Obligatorio"></textarea>
              </div>
              <p>
                <button class="button" type="submit">Envía comentarios</button>
              </p>
            </div>
          </form>
          <hr>
          <p *ngIf="!(isFirstLevel$ | async)"><a (click)="prevLevel()">Volver al nivel {{getPreviousLevelName()}}</a></p>
          <p *ngIf="hasComments"><a (click)="nextLevel()">{{getNextLevelName()}} </a></p>
        </div>
      </div>
      </ng-template>
</section>
<app-footer></app-footer>
