<app-nav-bar></app-nav-bar>

<section id="paintings" class="container">
    <div class="section-title">
      <span>GreCoH</span>
      <h2>GreCoH</h2>
      <p><strong>Selecciona una de las siguientes obras para comenzar</strong></p>
      <p>Indica si estás realizando la actividad con algún/a colaborador/a:
        <select [(ngModel)]="selectedCollaborator" name="collaborator" placeholder="Collaborator" (ngModelChange)="onCollaboratorChanged()">
          <option *ngFor="let collaborator of collaborators$ | async" [ngValue]="collaborator" [selected]="selectedCollaborator != null && collaborator.id === selectedCollaborator.id">{{collaborator.name}}</option>
        </select>
      </p>
    </div>

    <div id="images" *ngIf="paintings$ | async; else loading">
      <div *ngFor="let painting of paintings$ | async; trackBy: trackByPainting">
        <div class="image">
          <img [src]="getGrayscaleImage(painting)" alt="Grayscale image of {{painting.title}}"/>
          <div class="image-info">
            <h4>{{painting.painter}}</h4>
            <p>{{painting.title}}</p>
            <p><a [routerLink]="['../painting',painting.id]" class="details-link">Comienza</a></p>
          </div>
        </div>
      </div>
    </div>

  <ng-template #loading>
    <div class="jumbotron">
      Cargando datos del servidor ...
    </div>
  </ng-template>

</section>
<app-footer></app-footer>
