#paintings {
  background: #fff;
  padding-top: 10vh;
}

#paintings h2 {
  margin-bottom: 0;
}

#paintings #images {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap:   10px;
  -moz-column-count:    3;
  -moz-column-gap:      10px;
  column-count:         3;
  column-gap:           10px;

  position: relative; /* for being parent of .paintingDone */
}

#paintings #images img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-bottom: 10px;
}

#paintings #images .paintingDone {
  position: absolute;
  z-index: 2;
  color: #4DC7A0;
  font-size: 2rem;
  right: 1rem;
  top: 1rem;
}


@media (max-width: 800px) {
  #paintings #images {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 400px) {
  #paintings#images {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}

#paintings .image {
  position: relative;
}

#paintings .image:hover .image-info {
  opacity: 1;
}

#paintings .image-info {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  padding: 20px;
  text-align: center;
  line-height: 110%;
}

#paintings .image-info h4 {
  font-size: 20px;
}

#paintings .image-info p {
  font-size: 14px;
}

#cambioNivel {
  margin-top: 3em;
  text-align: center;
}

#cambioNivel h2 {
  margin-bottom: 1em;
}

#allLevelsCompleted {
  margin-top: 3rem;
}
