<div class="container-fluid" *ngIf="painting$ | async as painting; else loading">
  <div class="row">
    <div class="col-9">
      <h1>{{painting.painter}}</h1>
      <h2>{{painting.title}}</h2>
    </div>
    <div class="col-3">
      <a href="../admin">Back to all paintings</a>
    </div>
  </div>

  <div class="row" *ngIf="paintingStatistics$ | async as paintingStatistics; else loadingStatistics">
    <div class="col-2">
      <ul id="versions">
        <li class="version" [style.border-color]="'#' + paintingStatisticsItem.color" *ngFor="let paintingStatisticsItem of paintingStatistics; trackBy: trackByPaintingStatistics">
          <p *ngIf="isOriginalVersion(paintingStatisticsItem, painting)">Original</p>
          <p *ngIf="isOriginalVersion(paintingStatisticsItem, painting)">Version</p>
          <img class="card-img-top" [src]="getVersionImage(paintingStatisticsItem)" alt="Colored composition of {{painting.title}}"/>
          <pre class="statistics">{{paintingStatisticsItem.average | number:'1.1-2' }} ± {{paintingStatisticsItem.standard_deviation | number:'1.1-2' }}</pre>
        </li>
      </ul>
    </div>
    <div *ngIf="paintingAllVersionsScores$ | async as paintingAllVersionScores; else reload" class="col-10">
      <app-boxplot [paintingAllVersionsScore]="paintingAllVersionScores"></app-boxplot>
    </div>

    <ng-template #reload>
      <p>Por favor, recarga la página</p>
    </ng-template>
  </div>

  <ng-template #loadingStatistics>
    <div class="jumbotron">
      Cargando estadísticas ...
    </div>
  </ng-template>




</div>

<ng-template #loading>
  <div class="jumbotron">
    Cargando ...
  </div>
</ng-template>

