<div class="container-fluid">
  <div class="jumbotron-fluid" *ngIf="painting$ | async as painting; else loading">
    <h4>{{painting.title}}</h4>
    <p>Resultados globales</p>
  </div>
  <ng-template #loading>
    <div class="jumbotron">
      Loading ...
    </div>
  </ng-template>

  <!-- interval = 0 means no autoplay -->
  <ngb-carousel class="text-center" [interval]="0" *ngIf="paintingStatistics$ | async as paintingStatistics; else loading">
    <ng-template ngbSlide *ngFor="let paintingVersion of paintingVersions$ | async; trackBy: trackByPaintingVersion">
      <div class="picsum-img-wrapper">
        <img [src]="getVersionImage(paintingVersion)" alt="Colored painting" class="versionImageStatistics"/>
        <div class="carousel-caption">
          <!--<h3>{{paintingVersion.color_hexa}}</h3>-->
          <ngb-rating
            [max]="5"
            [rate]="getAverage(paintingStatistics, paintingVersion)"
            [readonly]="true"
          ></ngb-rating>
          <pre class="scoreStatistic" [style]="{'border-bottom-color': '#' + paintingVersion.color_hexa}">Valoración media: {{getAverage(paintingStatistics, paintingVersion)}}</pre>

          <!--<ng-template #templateStdDev let-fill="fill">
            <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
            </span>
          </ng-template>

          <ngb-rating
            [max]="5"
            [starTemplate]="templateStdDev"
            [rate]="getStandardDeviation(paintingStatistics, paintingVersion)"
            [readonly]="true"
          ></ngb-rating>-->
          <pre>Discordancia entre valoraciones: {{getStandardDeviation(paintingStatistics, paintingVersion)}}</pre>

          <div id="comments" *ngIf="getScores(paintingVersion); else buttonRetrieveScores">
            <div class="card" *ngFor="let score of paintingVersionsScores.get(paintingVersion.id)">
              <div class="card-title">
                <ngb-rating
                  [max]="5"
                  [(rate)]="score.value"
                >
                </ngb-rating>
              </div>
              <div class="card-text scoreSomment">
                {{score.comments}}
              </div>
            </div>
          </div>

          <ng-template #buttonRetrieveScores>
            <button type="button" class="btn btn-primary" (click)="retrieveScores(paintingVersion)">
              Muestra todas puntuaciones y comentarios
            </button>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

