<app-nav-bar></app-nav-bar>

<section id="statistics" class="container" *ngIf="painting$ | async as painting; else loading">
  <div class="section-title">
    <span>GreCoH</span>
    <h2>Resultados globales de <strong>{{painting.title}}</strong></h2>
  </div>

  <div class="row" id="images" *ngIf="paintingStatistics$ | async as paintingStatistics; else loading">
      <div class="col-12 col-sm-6 col-md-4" *ngFor="let paintingStatisticsItem of paintingStatistics; trackBy: trackByPaintingStatistics">
        <div class="card">
          <img class="card-img-top" [src]="getVersionImage(paintingStatisticsItem)" alt="Colored composition of {{painting.title}}"/>
          <div class="card-body">

            <!--<ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>
            </span>
            </ng-template>-->
            <!--[starTemplate]="t"-->

          <ngb-rating
            [max]="5"
            [(rate)]="paintingStatisticsItem.average"
            [readonly]="true"
          ></ngb-rating>
          <div class="medias">
            <pre>Media: {{paintingStatisticsItem.average | number:'1.1-2' }}</pre>
            <pre>Dispersión: {{paintingStatisticsItem.standard_deviation | number:'1.1-2' }}</pre>
          </div>
          <p><a (click)="showComments(paintingStatisticsItem, modalComentarios)" class="details-link">Comentarios</a></p>

          <ng-template #modalComentarios let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Comentarios de otros usuarios</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cerrar')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body scoreComments">
              <div class="card" *ngFor="let score of paintingVersionScores$ | async; trackBy: trackByPaintingScore">
                <div class="card-title">
                  <a href="mailto:{{score.email}}">{{score.email}}</a>
                </div>
                <div class="card-text">
                  {{getComments(score)}}
                </div>
                <br>
                <ngb-rating
                  [max]="5"
                  [(rate)]="score.value"
                  [readonly]="true"
                >
                </ngb-rating>
              </div>
            </div>
          </ng-template>
        </div> <!-- card-body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col text-center pt-5 pb-0">
      <p><a routerLink="/grecoh/paintings">Vuelve al inicio</a></p>
    </div>

  </div>
</section>

<app-footer></app-footer>

<ng-template #loading>
  <div class="jumbotron">
    Cargando ...
  </div>
</ng-template>
