#statistics {
  background: #fff;
  padding-top: 10vh;
}

#statistics h2 {
  margin-bottom: 0;
}

#statistics #images img {
  max-width: 100%;
  height: auto;
}

#statistics .medias {
  padding-top: 10px;
}

#statistics .medias pre {
  margin-bottom: 0.5rem;
}

.scoreComments .card {
  margin-bottom: 10px;
}

.scoreComments {
  max-height: 80vh;
  overflow-y: auto;
}

.originalVersion {
  border-color: #14c871;
  border-width: 5px;
  border-style: solid;
}

#statistics .ng5-slider {
  margin: 0;
}


@media (max-width: 768px) {
  .section-title span {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  #statistics #sliders {
    font-size: small;
  }

  .card-body {
    font-size: small;
  }

  .card-body a {
    font-size: 9px;
  }
}


#schemeImage {
  max-height: 75vh;
}
/*.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: lightgray;
}
.full {
  color: red;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: blue;
}*/

